<launch>
  <node name="mae" pkg="fyt_mae" type="node" output="screen" />
  <node name="gestion_parabole" pkg="gestion_parabole" type="node" output="screen">
  	<param name="parabola_list" value="$(find gestion_parabole)/samples/flight1.json" />
  </node>
  <node name="gimbal_driver" pkg="gimbal_driver" type="node" output="screen" >
	<rosparam param="gimbal_ids">[101,102,103,104,105]</rosparam>
	<rosparam param="gimbal_dev">/dev/ttyUSB0</rosparam>
	<rosparam param="gimbal_baud">57600</rosparam>
	<rosparam param="gimbal_protocol_version">2.0</rosparam>
	<rosparam param="gimbal_pub_freq">10</rosparam>
  </node>
</launch>
